<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      My Messages
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button
        *ngIf="userIsAuthenticated"
         routerLink="/create"
         routerLinkActive="mat-accent">
        Create Post
      </a>
    </li>
    <li>
      <a mat-button
      *ngIf="!userIsAuthenticated"
         routerLinkActive="mat-accent"
         routerLink="/login">
        Login
      </a>
    </li>
    <li>
        <a mat-button
          *ngIf="!userIsAuthenticated"
           routerLinkActive="mat-accent"
           routerLink="/signup">
          Signup
        </a>
    </li>
    <li>
      <button mat-button
              *ngIf="userIsAuthenticated">
        Logout
      </button>
    </li>

  </ul>
</mat-toolbar>
